* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: #424F5A;
  color: white;
  overflow: hidden;
}


.boundary {
  width: 500px;
  height: 500px;
  margin: 50px auto;
}

.board {
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
  background-image: url("images/boardback.svg");
  background-size: 100%;
  max-width: 500px;
  max-height: 500px;
  }

.box {
  height: 33.33%;
  width: 33.33%;
  float: left;
  background-image: url("images/players.png");
  background-size: 300%;
}
