* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira sans;
  cursor: default;
}

body {
  background-color: #424F5A;
  color: white;
  overflow: hidden;
}

.drawer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -65%;
  top: 0%;
  width:65%;
  overflow-x: hidden;
  height: 100%;
  box-shadow: -7px 0 9px -7px black inset;
  transition: .5s;
}

.drawer ul li {
  background-color: rgba(0, 0, 0, 0.2);
  list-style: none;
  font-size: 6vw;
  line-height: 8vw;
  padding: 3vw;
  border-bottom: 1px solid black;
  padding-left:10vw;
}

.drawer ul li:first-child::before {
  content: "";
  background-size: 100%;
  background-image: url(icons/icon_512.png);
  width: 12vw;
  height: 12vw;
  float: left;
  margin-right: 2vw;
}

.drawer ul li:first-child {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 8vw;
  padding-left: 6vw;
  line-height: 12vw;
}

.drawer ul li:last-child {
  border-bottom: none;
}



#gamefield {
    position: relative;
    width: 100vw;
    min-width: 320px;
    height: 100%;
    transition: .5s;
    z-index: 2;
}

.header {
  background: rgba(0, 0, 0, 0.3);
  width:96%;
  height: 14vw;
  padding: 1%;
  margin: 2% auto;
  font-size: 8vw;
  line-height: 13vw;
}

.status_box {
  background: rgba(0, 0, 0, 0.4);
  width:96%;
  padding: 3vw;
  margin: 2vh auto;
  font-size: 3vh;
  line-height: 4vh;
  height:25vw;
}

.x, .o {
  display: inline;
  height: 4vh;
  width: 4vh;
  background-image: url("images/players.png");
  background-size: 300%;
  background-position: 200% 0;
  margin:0 1vh 0 1vh;
  float: left;
}
.o {
  background-position: 100% 0;
}

#menu, #reset, .done {
  width: 12vw;
	height: 12vw;
	float: left;
	background-image: url("images/navigation_icons.png");
  background-size: 400%;  
}

#reset, .done {
	background-position: 200% 0;
	float: right;
}
.done {
    background-position: 100% 0;
}
#game::before, #scores::before, #settings::before, #help::before, #about::before, #exit::before {
  content: "";
  height: 8vw;
  width: 8vw;
  float: left;
  margin-right: 2vw;
  background-image: url("images/menu_icons.png");
  background-size: 600%;
}

#scores::before {
  background-position: -100% 0;
}
#settings::before {
  background-position: -200% 0;
}
#help::before {
  background-position: -300% 0;
}
#about::before {
  background-position: -400% 0;
}
#exit::before {
  background-position: -500% 0;
}

#settingsField, #scoresField, #helpField, #aboutField {
    background: #424F5A;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;
    transition: .5s;    
}

#settingsField {
  z-index: 3;
}

#scoresField {
  z-index: 4;
}

#helpField {
  z-index: 5;
}

#aboutField {
  z-index: 6;
}

.board {
  position: relative;
  width: 90vw;
  height: 90vw;
  margin: 4vw auto;
  background-image: url("images/BoardBack.png");
  background-size: 100%;
  }

.box {
  height: 33.33%;
  width: 33.33%;
  float: left;
  background-image: url("images/players.png");
  background-size: 300%;
}



/*--------------------------------
               ||
               ||
--------------------------------*/